exportPattern("^[[:alpha:]]+")
exportMethods(
    "[",
    "[<-",
    "apply",
    "dim",
    "dimnames",
    "dimnames<-",
    "getData",
    "getFileName",
    "getLocation",
    "head",
    "print",
    "show",
    "typeof",
    "hashDimnames",
    "hashedRownames",
    "hashedColnames",
    "hashedDimnames",
    "isHashed",
    "makeIndex"
)
exportClasses(
    "h5array",
    "h5arrayOrMatrix",
    "h5matrix",
    "listOrNULL"
)
import(rhdf5)
import(methods)
import(pryr)
import(hash)