exportPattern("^[[:alpha:]]+")
exportMethods(
    "[",
    "[<-",
    "apply",
    "dim",
    "dimnames",
    "dimnames<-",
    "getData",
    "getFileName",
    "getLocation",
    "head",
    "print",
    "show",
    "typeof" 
)
exportClasses(
    "h5array",
    "h5arrayOrMatrix",
    "h5matrix",
    "listOrNULL"
)
